#mainNavbar {
	background-color: #e67300;
}

.navbar-brand img {
	max-width: 120px;
}


.loginButton {
	background-color: #ffc72b;
	color: white;
	border-radius: 30px;
	font-weight: bold;
}

.loginButton:hover {
	background-color: #ffad00;
	color: white;
}

body {
	background-color: white;
}

.landingText {
	background-color: white;
	height: 100vh;
	padding-top: 5%;
}

.landingH2 {
	margin-top: 10%;
}

.landingSignUp {
	background-color: #e67300;
	color: white;
	border-radius: 30px;
	font-weight: bold;
	padding-left: 20%;
	padding-right: 20%;
	margin-top: 10%;
}

.landingSignUp:hover {
	background-color: #ffad00;
	color: white;
}

.landingLogIn {
	background-color: #ffc72b;
	color: white;
	border-radius: 30px;
	font-weight: bold;
	padding-left: 20%;
	padding-right: 20%;
	margin-top: 5%;
}

.landingLogIn:hover {
	background-color: #ffad00;
	color: white;
}

.landingImage {
	background-image: url("../images/landing_background.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 70%;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

h4 {
	margin-top: 10%;
	color: white;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.footerLink {
	color: grey;
}

.footerLink:hover {
	color: grey;
	text-decoration: underline;
}

.signUp {
	margin-top: 3%;
	max-width: 400px;
}

.signUp h2, p {
	padding-top: 5%;
	text-align: center;
	padding-bottom: 5%;
}

.signUplogo {
	max-width: 40%;
}

.signUpButton {
	background-color: #e67300;
	color: white;
	border-radius: 30px;
	font-weight: bold;
	width: 100%;
}

.signUpButton:hover {
	background-color: #ffad00;
	color: white;
}

.footerLinks {
	position: fixed;
	width: 100%;
  	bottom: 0;
}
